* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.home {
    background: url(images/headphones_hero_1.jpg) no-repeat center center/cover;
    height: 100vh;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px 70px;

}

.log img {
    width: 100px;
    height: auto;
}



/* Show the menu when active */
.menu.open {
    display: flex; 
    transform: translateX(0);
}




.hamburger.active span {
    transition: all 0.3s ease-in-out;
}
.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

ul {
    list-style: none;
    text-align: center;
    margin-right: 30px;
}

ul li {
    margin: 20px 0;
}

ul li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    transition: color 0.3s;
}

ul li a:hover {
    color: #FF6565;
}

.content-text-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    height: calc(100vh - 80px);
    text-align: center;
}

.content-text-btn h1 {
    font-size: 32px;
    color: white;
}


.content-text-btn h4{
    color: white;
    margin-top: 0;
    margin-bottom: 20px;

}

.content-text-btn p {
    font-size: 16px;
    color: white;
    margin-top: 10px;
    line-height: 1.5;
    width: 100%;
}

button {
    padding: 10px 20px;
    background-color: #FF6565;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    opacity: 0.9;
}


/* What we do section  */

section {
    padding: 60px 20px;
    text-align: center;
}

section h2 {
    font-size: 32px;
    margin-bottom: 40px;
    color: #333;
}

/***** "What We Do" Section Styles *****/
.what-we-do {
    background-color: #f9f9f9;
}

.features-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/***** Feature Card Component *****/
.feature-card {
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.feature-card .icon {
    font-size: 40px;
    color: #FF6565;
    margin-bottom: 20px;
}

.feature-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.feature-card p {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
}
p#description{
    font-size: 16px;
    color: #666;
    line-height: 1.5;
    margin: 100px;
}

/* Our Results Section */
.ourResults {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('images/headphones_hero_2.jpg') no-repeat center center/cover;
    padding: 50px 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.ourResults .description {
    margin-top: 40px;
    font-size: 1rem;
    margin-bottom: 30px;
    line-height: 1.6;
    max-width: 800px;
    margin-left: auto;
    color: #fff;
    margin-right: auto;
}

.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.result-card {
    margin: 50px 0 50px 0;
    background: #ff6666;
    color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 210px;
    height: 210px;
    clip-path: polygon(50% 0%, 100% 38%, 81% 100%, 19% 100%, 0% 38%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.result-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.result-content {
    text-align: center;
    padding: 20px;
}

.result-content .percentage {
    font-size: 2rem;
    font-weight: bold;
}

.result-content .text {
    text-align: center;
    font-size: 1rem;
    margin-top: 10px;
    display: block;
}


/* contact  */

.contact-us {
    background-color: #F9F9F9;
    padding: 50px 20px;
    text-align: center;
}

.contact-content h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #0A1128;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #FF6565;
    outline: none;
}

.contact-form .cta-button {
    background-color: #FF6565;
    color: white;
    padding: 15px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form .cta-button:hover {
    background-color: #E04C4C;
}



 /* footer  */
 footer {
    background-color: #071629;
    color: white;
    padding: 0px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 50px 20px 50px;
}

.footer-logo img {
    width: 150px;
}

.footer-socials a {
    margin: 0 10px;
    color: white;
    font-size: 1.5rem;
    transition: color 0.3s;
}

.footer-socials a:hover {
    color: #FF6565;
}

.footer-copyright {
    font-size: 0.9rem;
    color: #bbb;
    padding: 20px 0;
}



@media (min-width:375px) and (max-width:768px){
    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 20px;
        cursor: pointer;
        z-index: 1001; /*Ensure it stays on top*/
      }
    
      .hamburger span {
        display: block;
        height: 3px;
        width: 100%;
        background-color: white;
        border-radius: 2px;
        transition: all 0.3s ease-in-out;
      }
    
      /* Close (X) Button Animation */
       .hamburger.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      } 
    
      .hamburger.active span:nth-child(2) {
        opacity: 0; /* Hide middle bar */
       } 
    
      .hamburger.active span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -8px);
      }
    
      /* Optional Styling for the Menu */
      .menu {
        /* display: none;  */
        position: fixed;
        top: 0;
        right: 0;
        width: 25%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.9);
        color: white;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        transition: transform 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }
      .menu ul {
        display: flex;
        flex-direction: column;
      }
    
      .menu.open {
        display: none; /* Show menu when active */  
        transform: translateX(0);
      }
}

/* headphones_tablet screen  */

@media only screen and (max-width: 768px) {

  

    .content-text-btn {
        padding: 50px 30px;
    }

    .content-text-btn h1 {
        font-size: 35px;
    }

    .content-text-btn p {
        width: 90%;
    }

    .icons-section {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px;
        flex-direction: column;
        gap: 30px;
    }

    .icon-item {
        max-width: 250px;
    }
   

  
  

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    ul li {
        margin: 10px 0;
    }

    ul li a {
        color: white;
        text-decoration: none;
        font-size: 16px;
    }

    .content-text-btn {
        padding: 20px;
        height: auto;
    }

    .content-text-btn h1 {
        font-size: 28px;
    }

    .content-text-btn p {
        font-size: 14px;
    }

    .features-container {
        flex-direction: column;
    }

    .feature-card {
        width: 100%;
        margin-bottom: 20px;
    }

    .result-card {
        width: 180px;
        height: 180px;
        margin: 20px;
    }
    footer .footer-container {
        flex-direction: column;
        text-align: center;
    }

    footer .footer-logo img {
        width: 120px;
    }
     
}


/* Responsive styles for mobile (375px and below) */
@media (max-width: 375px) {

    .menu-icon {
        display: block;
    }

    .nav ul {
        margin: 100px;
    }

    .content-text-btn h1 {
        font-size: 28px;
    }

    .content-text-btn p {
        font-size: 14px;
    }
    .menu{
        width: 100%;
        
    }
    .nav {
        flex-direction: column;
        padding: 10px 15px;
    }

    .log img {
        width: 80px;
    }

    .content-text-btn h1 {
        font-size: 24px;
    }

    .content-text-btn p {
        font-size: 12px;
    }

    button {
        padding: 8px 15px;
        font-size: 14px;
    }

    .features-container {
        gap: 10px;
    }

    .feature-card {
        width: 100%;
        padding: 15px;
    }

    .ourResults .description {
        font-size: 14px;
    }

    .result-card {
        width: 80%;
        height: 180px;
        margin: 10px auto;
    }

    .contact-form input,
    .contact-form textarea {
        font-size: 14px;
    }

    .contact-form button {
        font-size: 14px;
        padding: 8px 15px;
    }
    footer .footer-container {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    footer .footer-logo img {
        width: 120px;
    }

    .footer-socials a {
        font-size: 1.2rem;
        margin: 30px;
    }

}


/* Desktop styles for screens larger than 375px and up to 1400px */
@media (min-width: 376px) and (max-width: 1400px) {
    .nav ul {
        display: flex;
        list-style: none;
        margin: 0;
    }

    .nav ul li {
        margin-left: 20px;
    }

    .menu-icon {
        display: none;
    }

    .menu-container {
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: row;
    }

    .content-text-btn {
        padding: 50px 100px;
    }
}

/* Full desktop styles for screens 1400px and larger */
@media (min-width: 1400px) {
    .nav ul {
        display: flex;
        list-style: none;
        margin: 0;
    }

    .nav ul li {
        margin-left: 30px;
    }

    .menu-icon {
        display: none;
    }

    .menu-container {
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: row;
    }

    .content-text-btn {
        padding: 50px 200px;
    }

    .content-text-btn h1 {
        font-size: 45px;
    }

    .content-text-btn p {
        font-size: 18px;
    }
}
